extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Jim-Michael David

        
        p.lead.text-light
          | Full Stack JavaScript Developer
        
        .portfolio-bio
          p
            | Like millions of other people around the globe, my relatively "normal" way of life was uprooted by COVID-19. I was originally an Operations Coordinator for an event production company, but the pandemic brought the entire event industry to a screeching halt. 
            | Since I was out of work, I decided to use this time to learn new skills and change my career path.  
          p 
            | I chose to learn Full Stack JavaScript and become a developer as I was fascinated by how websites and apps were made. As a Treehouse student, I learned the ins-and-outs of adding interactivity into browsers and built a portfolio that showcases my use of Node.js, Express, and Pug. 
            | Once I complete my Techdegree, I aspire to work as a developer in an entertainment tech company, creating user-friendly and interactive experiences on their websites and apps. I thank you for taking the time to check out my portfolio! 
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Node.js
          li Pug
          li API
          li OOP (Object-Oriented Programming)
          li Forms
          li Event Management
          li Customer Relationship
          li Budget Management
          li Flex Rental Solutions
        h6 Contact Info

        
        ul
          li 518.556.8119
          li jimmichael.david@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/jim-michael-david/') LinkedIn
        a.button.expanded(href='https://github.com/jimmikedave') GitHub
        a.button.expanded(href='https://twitter.com/jimmikedave') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  